<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}{% endblock %} - Stock Trading System</title>
  </head>
  <body>
     <nav>
      <div>
        <a href="{{ url_for('home') }}"></a>

        <button type="button">
          <span>Menu</span>
        </button>

        <div>
          <ul>
            <li><a href="{{ url_for('home') }}">Portfolio</a></li>
            {# <li><a href="{{ url_for('stock') }}">View Stock</a></li> #}
            <li><a href="{{ url_for('createStock') }}">Create stock</a></li>
            {# <li><a href="{{ url_for('changeMktHrs') }}">Market Hours</a></li> #}

            <li>
              <span>Transact</span>
              <ul>
                <li>
                  <a href="{{ url_for('buyStock') }}">
                    <button type="button">Buy</button>
                  </a>
                </li>
                <li>
                  <a href="{{ url_for('sellStock') }}">
                    <button type="button">Sell</button>
                  </a>
                </li>
                <li>
                  <a href="{{ url_for('depositFunds') }}">
                    <button type="button">Deposit</button>
                  </a>
                </li>
                <li>
                  <a href="{{ url_for('withdrawFunds') }}">
                    <button type="button">Withdraw</button>
                  </a>
                </li>
                 <li>
                  <a href="{{ url_for('viewOrderHistory') }}">  <!-- Brett: Order History button -->
                    <button type="button">History</button>
                  </a> 
                  <li>
                  <a href="{{ url_for('changeMktHrs') }}">
                    <button type="button">Market Hours</button>
                  </a>
                  </li>
                </li>
              </ul>
            </li>
          </ul>

          <ul>
            <li>
              <a href="{{ url_for('logout') }}">Sign out</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div>{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <div>
      {% block content %}{% endblock %}
    </div>

    <footer>
      <div>
        <p>© 2025 G7 - STS</p>
      </div>
    </footer>
  </body>
</html>
