<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <title>{% block title %}Base{% endblock %} - Stock Trading System</title>
    <style>
      body { background-color: #8C1D40; font-family: "Inter"}

      .navbar .dropdown-toggle::after { display: none; }

      .card.hover-lift {transition: transform .2s ease, box-shadow .2s ease;}
      .card.hover-lift:hover {transform: translateY(-4px); box-shadow: var(--bs-box-shadow-lg);}
    </style>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <span class="navbar-brand"><img src="{{ url_for('static', filename='logo.png') }}" style="height: 75px; width: auto;"></span>

        {% if current_user.is_authenticated %}
            {% if current_user.get_id().startswith('admin') %}
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link text-light fs-5" href="{{ url_for('homeAdmin') }}">Dashboard</a></li>
                    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-light fs-5" href="#" data-bs-toggle="dropdown">Admin Functions</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item fs-5" href="{{ url_for('createStock') }}">Create Stock</a></li>
                            <li><a class="dropdown-item fs-5" href="{{ url_for('createaccount') }}">Create User</a></li>
                            <li><a class="dropdown-item fs-5" href="{{ url_for('changeMktHrs') }}">Change Mkt Hours/Schedule</a></li>
                        </ul>
                    </li>
                </ul>

                <ul class="navbar-nav ms-auto me-5">
                    {% if market_open == True %}
                        <li class="nav-item"><a class="btn btn-primary fs-5" style="background-color: #25C87C; border: none;">Market: Open</a></li>
                    {% elif market_open == False %}
                        <li class="nav-item"><a class="btn btn-primary fs-5 mt-1" style="background-color: #FFCC4E; border: none;">Market: Closed</a></li>
                    {% endif %}
                    <li class="nav-item"><a class="nav-link text-light fs-5">{{ current_user.username }}</a></li>
                    <li class="nav-item"><a class="nav-link text-light fs-5" href="{{ url_for('logout') }}">Sign Out</a></li>
                </ul>

            {% elif current_user.get_id().startswith('user') %}
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link text-light fs-5" href="{{ url_for('home') }}">Dashboard</a></li>
                        
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-light fs-5" href="#" data-bs-toggle="dropdown">Transact</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item fs-5" href="{{ url_for('buyStock') }}">Buy</a></li>
                            <li><a class="dropdown-item fs-5" href="{{ url_for('depositFunds') }}">Deposit</a></li>
                            <li><a class="dropdown-item fs-5" href="{{ url_for('sellStock') }}">Sell</a></li>
                            <li><a class="dropdown-item fs-5" href="{{ url_for('withdrawFunds') }}">Withdraw</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-light fs-5" href="#" data-bs-toggle="dropdown">Reports</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item fs-5" href="{{ url_for('viewOrderHistory') }}">Order History</a></li>
                            <li><a class="dropdown-item fs-5" href="{{ url_for('viewPortfolio')}} ">Portfolio</a></li>
                        </ul> 
                    </li>
                </ul>

                <ul class="navbar-nav ms-auto me-5">
                    {% if market_open == True %}
                        <li class="nav-item"><a class="btn btn-primary fs-5" style="background-color: #25C87C; border: none;">Market: Open</a></li>
                    {% elif market_open == False %}
                        <li class="nav-item"><a class="btn btn-primary fs-5 mt-1" style="background-color: #FFCC4E; border: none;">Market: Closed</a></li>
                    {% endif %}
                    <li class="nav-item"><a class="nav-link text-light fs-5">{{ current_user.username }}</a></li>
                    <li class="nav-item"><a class="nav-link text-light fs-5" href="{{ url_for('logout') }}">Sign Out</a></li>
                </ul>
            {% endif %}
        {% endif %}
        </div>
    </nav>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="container">
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissable fade show text-center position-relative mx-auto" role="alert" style="max-width: 75%;">
                        {{ message }}
                        <button type="button" class="btn-close position-absolute top-0 end-0 mt-2 me-2" data-bs-dismiss="alert"></button>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <main class="container py-4">
        {% block content %}{% endblock %}
    </main>

    <footer class="text-light fixed-bottom fs-5">
        <p class="text-center mb-0">© 2025 G7 - STS</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>