{% extends "base.html" %}
{% block title %}Change Mkt Schedule{% endblock %}
{% block content %}

<div>
  <div>
    <div>
      <div>
        <h5>Change Market Schedule</h5>

        <form action="{{ url_for('changeMktSchedule') }}" method="post">
          <div>
            <label for="holidayDate">Holiday Date</label>
            <div>
              <input type="date" id="holidayDate" name="holidayDate">
            </div>
          </div>

          <div>
            <label for="reason">Reason</label>
            <div>
              <input type="text" id="reason" name="reason">
            </div>
          </div>

          <div>
            <div>
              <button type="submit">Submit</button>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>

{% endblock %}
