{% extends "base.html" %}
{% block title %}Create Stock{% endblock %}
{% block content %}

<div>
  <div>
    <div>
      <div>
        <h5>Create Stock</h5>

        <form action="{{ url_for('createStock') }}" method="post">
          <div>
            <label for="companyName">Company Name</label>
            <div>
              <input type="text" id="companyName" name="companyName">
            </div>
          </div>

          <div>
            <label for="companyDesc">Description</label>
            <div>
              <input type="text" id="companyDesc" name="companyDesc">
            </div>
          </div>

          <div>
            <label for="ticker">Ticker</label>
            <div>
              <input type="text" id="ticker" name="ticker">
            </div>
          </div>

          <div>
            <label for="volume">Volume</label>
            <div>
              <input type="number" id="volume" name="volume">
            </div>
          </div>

          <div>
            <label for="initStockPrice">Initial Price</label>
            <div>
              <input type="number" id="initStockPrice" name="initStockPrice" step="0.01">
            </div>
          </div>

          <div>
            <div>
              <button type="submit">Submit</button>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>

{% endblock %}
