{% extends "base.html" %}
{% block title %}Create Account{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-12">
    <h1 class="display-4 text-center"></h1>
  </div>
</div>
<div class="row mt-5">
  <div class="col-md-6 mx-auto">
    <div class="card"><div class="card-body" style="background-color: #F5F5F5;">
      <h5 class="card-title text-center mb-5">Create Account</h5>
      <form>
        <div class="form-group">
            <label for="inputFirstName">First Name</label>
            <input type="text" class="form-control" id="inputFirstName" placeholder="John" style="background-color: #F5F5F5;border: none;">
            <label for="inputLastName">Last Name</label>
            <input type="text" class="form-control" id="inputLastName" placeholder="Doe" style="background-color: #F5F5F5;border: none;">
            <label for="inputEmail">Email Address</label>
            <input type="email" class="form-control" id="inputEmail" placeholder="example@email.com" style="background-color: #F5F5F5;border: none;">
            <label for="inputUsername">Username</label>
            <input type="text" class="form-control" id="inputUsername" placeholder="jdoe115" style="background-color: #F5F5F5;border: none;">
            <label for="inputPassword">Password</label>
            <input type="password" class="form-control" id="inputPassword" placeholder="**********" style="background-color: #F5F5F5;border: none;">
            <label for="inputConfPassword">Confirmation Password</label>
            <input type="password" class="form-control" id="inputConfPassword" placeholder="**********" style="background-color: #F5F5F5;border: none;">
            <button type="submit" class="btn btn-primary" style="background-color: #8C1D40;color: #F5F5F5;border:none;">Submit</button>
        </div>
      </form>
    </div></div> 
  </div>
</div>
{% endblock %}